<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
          <h3 class="text-center text-2xl text-[#6A64F1] font-extrabold">Upload Your Document</h3>
          <form action="/upload" method="POST" enctype="multipart/form-data">  
            <div class="mb-5">
              <label for="file" class="mb-3 block text-base font-medium text-[#07074D]">
                Upload File
              </label>
              <input type="file" name="file" id="file" placeholder="Upload file" autocomplete
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
      
            <div>
              <button type="submit" class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
                Upload file
              </button>
            </div>
          </form>
        </div>
      </div>
      
</body>
</html>